{% extends 'tour/index.html' %}
{% load static %}
{% block content %}

<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>
            Hello! Jambo 🤙🏾!Karibu sanaa .......
            every Trip has a story to tell......Join Babetie tour Company team to generate your exceptional dream chapter.... Meet with the best tour and travel company,💯% fully local owned, licensed and registered. We have been there since 2015 to serve you and empower pro-poor households. 
          </p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>About Babetie Expedition</h3>
            <img src="{% static 'img/gallery1.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
            <p>Hello! Hi! 👋🏾 Your overland Journey starts from here [Mt.Kilimanjaro edge]. Home of one of the iconic [cultural Tribe] . Our [tour consultants] shares deepest enthusiastic to travel with an insider’s skills of [off-the-beaten-path] outdoors.
            Our team has extensively explored around the most [Africa world wonders] [ Tz 🇹🇿, Key 🇰🇪, Ug 🇺🇬, Sou 🇿🇦, Bots 🇧🇼,and many more , casting around expedition trails and aquatic navigations to explore the spectacular [world virgin gems] of each [destination].
            These what makes you to meet your dream chapter, as our [goal] focus is to take you extra mile to the overland journey. When it comes to any place you dreams to spend your vacation , what interesting is that we’ve been there and we’re ready to schedule you a [lifetime trip] !
            Get in touch with Us , definitely you will meet with a perfect [right team], fully personell and aren’t robots .Our [front desk] are purely adventurous, Incase you seeking a perfect destination as [Zanzibar Islands] , they prefers to opt you a [best trip] and schedule you with the next [Big fives] lifetime adventure.s</p>
            <p></p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p>
                We purposely resolve every single detail of your travel and Vacations. Sorting besides the vast alternative available and find you with the mostly dream holiday Safari go beyond your expectations.
                We value your money and time. We save you from the hassles, uncertainty, and inconvenience that comes with you having to do it all by yourself.
                We pay more considerably to up hold the efficiency and the personalized Services, that has been our base and now is the World Sky Safaris traditions and trade Mark
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'img/gallery2.jpg' %}" class="img-fluid rounded-4" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


{% endblock %}