{% extends 'tour/index.html' %}
{% load static %}
{% block content %}


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Destination Details</h2>
              <p>Our destinations are explained here in great detail including prices.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Destination Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio/lion.jpg' %}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio/lion3.jpg' %}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio/lion4.jpg' %}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio/lion.jpg' %}" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>This is a destination detail</h2>
              <p>Lemosho route; A relatively new route up the mountain, there is less traffic on this adventure. This may be the most beautiful route to take, with breathtaking views on all sides of the mountain. Climbers on this route spend a minimal of 7 days for the Summit
              </p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Destination information</h3>
              <ul>
                <li><strong>Days</strong> <span>Seven</span></li>
                <li><strong>Location</strong> <span>Lemosho</span></li>
                <li><strong>Price</strong> <span>$2500</span></li>
                <li><a href="{% url 'booking' %}" class="btn-visit align-self-start">Book Now</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}